.full-width-image-section {
  display: flex;
}

.full-width-image {
  width: 100%;
  display: block;
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.half-width-image,
.text-content {
  flex: 1;
  margin: 10px;
  font-size: 1.25rem;
  width: 40%;
}

.half-width-image {
  display: block;
  max-width: 30%;
  height: auto;
}
.half-width-image2 {
  display: block;
  max-width: 45%;
  height: auto;
}

.text-content {
  padding: 0 20px;
  font-size: 2rem;
}

.content-section:nth-child(odd) .half-width-image {
  order: 1;
}

.content-section:nth-child(even) .text-content {
  order: 1;
}

.content-section::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
    .full-width-image-section,
    .content-section {
        flex-direction: column;
    }

    .full-width-image {
        width: 190%; 
        max-width: none; 
        position: relative; 
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 900;
    }



    .text-content {
        font-size: 1.7rem; 
        padding: 1px 5%;
        order: 1; 
    }

    .half-width-image,
    .half-width-image2 {
        width: 100%; 
        margin: 10px auto;
        order: 2; 
        display: block;
    }

    .half-width-image2 {
        max-width: 100%;
        transform: translateX(7%);
    }

    .half-width-image {
        max-width: 50%;
    }

    .container {
        padding: 0 5%; 
    }

    img {
        max-width: 100%; 
        height: auto;
    }

    .text-content {
        flex: 1;
        font-size: 1.25rem;
    }


    .half-width-image2,
    .half-width-image,
    .text-content {
        flex: 1;
        font-size: 1.25rem;
        width: 100%;
    }
}
