.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.rule-section {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}
 

.rule-section img,
.rule-section img2 {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 20px;
}

.rule-section p {
  font-size: 1.25rem;
  width: 100%;
}


@media (max-width: 768px) {
    .main-grid {
        grid-template-columns: 1fr; 
    }
}